body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/background.jpg");
  display: grid
}

* {box-sizing: border-box;
}

#headerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 175px;
}

.grid-container1{
  display: grid;
  grid-template-areas: 
   'main main';
  grid-gap: 5px;
  padding: 10px;
  }
.grid-container2{
  display: grid;
  grid-template-areas: 
   'menu main main main right right';
  grid-gap: 10px;
  padding: 10px;
  margin: auto
  }

  h3, p{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 20pt;
      font-weight: bold;
      color: azure;
      margin-top: -32
    }
   p{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 16pt;
      font-weight: bold;
      color: azure;
      line-height: 15pt
    }

    #instructions {
      max-width: 550px;
      border: 3px solid #dddddd;
      padding-right: 100x
    }
    #wins-losses{
     padding-right: 200px
    }